# Data Science Tools and Ecosystem #

## Introduction ##

#### This notebook provides an overview of the tools, languages, and libraries commonly used in Data Science. It includes examples of arithmetic operations, code to convert time units, and outlines the objectives of this project. The purpose is to demonstrate proficiency in using Jupyter Notebook for data science tasks. ####

## Data Science Languages ##

The following are popular programming languages used in Data Science:

#### Python

#### R

#### SQL

#### Scala

#### Java

#### C++

#### Julia

#### JavaScript

#### PHP

#### Go

#### Ruby

#### Visual Basic

## Data Science Libraries

Key libraries frequently used in Data Science include:

#### Pandas
#### Numpy
#### Matplotlib
#### Seaborn
#### Scikit-learn
#### Keras
#### TensorFlow
#### PyTorch
#### Apache Spark
#### Vegas
#### Big DL
#### Ggplot2

| Data Science Tools |
|--------------------|
| Github |
| Spyder |
| Zeppelin |
| Jupyter Notebook |
| RStudio |
| Anaconda |
| Tableau |
| Apache Spark |

## Arithmetic Expression Examples

#### Below are examples of basic arithmetic operations such as multiplication and addition, which are commonly used in data science for calculations and data manipulation.

In [1]:
# Multiply and add numbers
result = (3 * 4) + 5
print("Result of (3 * 4) + 5 =", result)

Result of (3 * 4) + 5 = 17

In [2]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

## Objectives

The objectives of this notebook are:

### Demonstrate the use of markdown cells for documentation

### List key data science languages and libraries

### Showcase a table of data science tools

### Perform basic arithmetic operations in Python

### Convert time units using Python code

### Share the notebook via GitHub

# Author

## This notebook was created by Ashfaq